@import "tailwindcss";

@theme {
    --color-background: #f9f9f9;
    --color-foreground: #292627;
    --color-muted: #efefef;
    --color-muted-foreground: #818181;
    --color-popover: #ffffff;
    --color-popover-foreground: #1a1a1a;
    --color-card: #ffffff;
    --color-card-foreground: #232323;
    --color-border: #cecece;
    --color-input: #cecece;
    --color-primary: #0061ff;
    --color-gradient: #60efff ;
    --color-primary-foreground: #ffffff;
    --color-secondary: #dadada;
    --color-secondary-foreground: #1a1a1a;
    --color-accent: #0084ff;
    --color-accent-foreground: #ffffff;
    --color-destructive: #f76b61;
    --color-destructive-foreground: #ffffff;
    --color-gradient-primary: linear-gradient(to right, #0061ff, #60efff);
    --color-ring: #999999;
    --color-chart-1: #0084ff;
    --color-chart-2: #dadada;
    --color-chart-3: #0084ff;
    --color-chart-4: #e2e2e2;
    --color-chart-5: #007fff;
    --radius: 0.5rem;
}

body {
    @apply leading-tight  bg-background text-foreground;
}


button {
    @apply rounded-full h-[30px] w-[100px] bg-gradient-to-r from-primary via-primary via-primary to-gradient transition-all ease-in-out cursor-pointer text-white hover:-translate-y-1 ;
}

a {
    @apply transition-all ease-in-out hover:text-primary hover:translate-y-[-1px];
}

span{
    @apply bg-gradient-to-r from-gradient via-gradient via-gradient to-primary text-transparent bg-clip-text
}

.gradient {
    @apply bg-gradient-to-r from-primary via-primary via-primary to-gradient
}
