@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #000000;
    --color-muted: #fdfdfd;
    --color-muted-foreground: #818181;
    --color-popover: #ffffff;
    --color-popover-foreground: #1a1a1a;
    --color-card: #ffffff;
    --color-card-foreground: #232323;
    --color-border: #cecece;
    --color-input: #ffffff;
    --color-primary: #0061ff;
    --color-gradient: #60efff ;
    --color-primary-foreground: #ffffff;
    --color-secondary: #dadada;
    --color-secondary-foreground: #1a1a1a;
    --color-accent: #0061ff;
    --color-accent-foreground: #ffffff;
    --color-destructive: #f76b61;
    --color-destructive-foreground: #ffffff;
    --color-gradient-primary: linear-gradient(to right, #0061ff, #60efff);
    --color-ring: #999999;
    --color-chart-1: #0084ff;
    --color-chart-2: #dadada;
    --color-chart-3: #0084ff;
    --color-chart-4: #e2e2e2;
    --color-chart-5: #007fff;
    --radius: 0.5rem;
}

body {
    @apply bg-background text-foreground tracking-wide leading-normal ;
}


button {
    @apply rounded-full h-[40px] font-medium px-5 bg-gradient-to-r from-primary via-primary to-gradient transition-all ease-in-out cursor-pointer text-white hover:-translate-y-1 ;
}

a {
    @apply transition-all ease-in-out hover:text-primary;
}

.work {
    @apply bg-gradient-to-r from-gradient via-gradient  to-primary text-transparent bg-clip-text
}

span {
    @apply bg-gradient-to-r from-primary via-primary to-gradient text-transparent bg-clip-text
}

.stat {
    @apply bg-gradient-to-r from-primary  to-gradient text-transparent bg-clip-text
}

.gradient {
    @apply bg-gradient-to-r from-primary via-primary  to-gradient
}

input {
    @apply h-[40px]
}
